# Database
DB_PASSWORD=CHANGE_ME_IN_PRODUCTION

# Paynow Integration (https://developers.paynow.co.zw)
PAYNOW_INTEGRATION_ID=
PAYNOW_INTEGRATION_KEY=
PAYNOW_RESULT_URL=http://localhost:8080/api/webhooks/paynow

# Environment
ASPNETCORE_ENVIRONMENT=Development
